{% extends "app_admon/layout.html" %}
{% load static %}

{% block title %}
Fiorella | Clientes
{% endblock %}

{% block styles %}
{% endblock styles %}

{% block content %}
<main id="main" class="main fondo-difuminado">
    <!-- <div id="idmenu" class="container-min-height" data-menu="m2"> -->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h5 align="center" class="h5-suave">Clientes</h5>
            </div>
            <div class="col-md-4">
                <a href="{% url 'inicio' %}" class="float-end">
                    <i class="bi bi-x-circle-fill h4 h" title='Cerrar'></i>
                </a>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'add_cliente' %}">
            <i class="bi-person-plus-fill h4 h" title='Agregar nuevo registro'></i>
            </a>
            
        </div>
        <table id="clientes" class="table  table-bordered table-hover " style="width:100%">
            <thead>
                <tr>
                    
                    <th>CED/RIF</th>
                    <th style="width:300px">NOMBRE</th>
                    <th>TELEFONO</th>
                    <th>INSTAGRAM</th>
                    <th>F. NACIMIENTO</th>
                    <th>STATUS</th>
                    <th>EDITAR</th>


                    
                </tr>
            </thead>
            <tbody>
                
                {% for xCliente in xClientes %}
                <tr>
                    <td>{{xCliente.ced_rif}}</td>
                    <td>{{xCliente.nombre|truncatechars:22}}</td>
                    <td>{{xCliente.telefono}}</td>
                    <td>{{xCliente.instagram}}</td>
                    <td>{{xCliente.nacimiento}}</td>
                    <td>{{xCliente.status__status}}</td>
                    <td class="text-center" style="width:50px">
                        <a  href="#">
                            <i class="fas fa-pencil-alt h"></i>
                        </a>
                        
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    <!-- </div> -->
</main>

{% endblock content %}

{% block Scripts_Adicionales %}
<script>
    $(function () {
        $("#clientes").DataTable({
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "*** No se encontró información ***",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            },
            "responsive": true,
            "lengthChange": true,
            "autoWidth": true,
            "pageLength": 50,
           
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": [0, 2, 3 ],
                "orderable": false
            }]


        })
    });


    // tool tip
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>
{% endblock Scripts_Adicionales %}