{% extends "app_admon/layout.html" %}
{% block title %}
Atico | Cliente_crud
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main ">

    <div class="card fondo-difuminado">
        <div class="card-body" style="padding: 10px 80px 10px 80px;">
        <!-- Emcabezado-->
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h5 align="center" class="h5-suave margen-bottom"> {{ xOpcion }} Cliente </h5>
            </div>
            <div class="col-md-4 text-right">
                <a href="javascript:history.back()" class="float-end">
                    <i class="fas fa-angle-left fa-lg h" title='Ir atras'></i>
                </a>
            </div>
        </div>

        <form id="cliente_crud" action="" style="padding-top: 10px;" method="post">
            {% csrf_token %}
            <!-- ------------------------------------ Agregando ------------------------------------- -->
             {% if xOpcion == 'Agregando' %}
             <!-- 1ra fila -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6">
                     <span class="titulos">Cédula/Rif</span><br>
                     <div class="col-md-6 d-flex" >
                         <select name="prefijo_r" id="prefijo_r" class="form-control"
                             style="border-right: 0px; width: 102px ;border-radius: 25px 0px 0px 25px" required>
                             <option id="-1" value="">Seleccione</option>
                             {% for xPre_ced_rif in xPrefijos_ced_rif %}
                             <option id={{xPre_ced_rif}}>
                                  {{xPre_ced_rif}}
                             </option>
                             {% endfor %}
                         </select>
                             {{form.ced_rif}}
                     </div>
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.nombre.label}}</span>
                     {{form.nombre}}
                 </div>
             </div>
             <!-- 2da fila -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6">
                     <span class="titulos">Télefono</span><br>
                     <div class="col-md-3 float-start">
                         <select name="prefijo" id="prefijo" class="form-control float-start" style="border-right: 0px; width: 140px ;border-radius: 25px 0px 0px 25px"  required>
                             <option id="-1" value="">Seleccione</option>
                             {% for xPre_telefono in xPrefijos %}
                             <option id={{xPre_telefono}}>
                                  {{xPre_telefono}}
                             </option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="col-md-9 float-start">
                         {{form.telefono}}
                     </div>
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.instagram.label}}</span>
                     {{form.instagram}}
                 </div>
             </div>
             <!-- 3ra fila -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.nacimiento.label}}</span>
                         {{form.nacimiento}}
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.direccion.label}}</span>
                     {{form.direccion}}
                 </div>
             </div>

             <input type="text" name="status" value=2 hidden>
           
             {% endif %}
             <!-- ------------------------------------ Editando ------------------------------------- -->
             {% if xOpcion == 'Editando' %}
             <!-- 1ra fila -->
             <div class="row" style="margin-bottom: 10px; ">
                 <div class="col-md-6">
                     <span class="titulos"></span><span id="hoy" class="boton-ajustado-a-la-derecha">HOY</span>
                     {{form.fecha.label}}</span>
                     {{form.fecha}}<span id="fecha_validation_msg" class="validation-msg" hidden>La Fecha no
                         corresponde
                         al año seleccionado</span>
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">Cédula/Rif</span><br>
                     <div class="col-md-3 float-start">
                         <select name="prefijo_r" id="prefijo_r" class="form-control float-start"
                             style="border-right: 0px" required>
                             <option id="-1" value="">Seleccione</option>
                             {% for xPre_ced_rif in xPrefijos_ced_rif %}
                             <option id={{xPre_ced_rif}} value="{{xPre_ced_rif}}" {% if xPre_ced_rif.prefijo_r == rPre %}
                                 selected {% endif %}> {{xPre_ced_rif}}
                             </option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="col-md-9 float-start">
                         <input type="text" name="ced_rif" value={{rCed_rif}} maxlength="9" class="form-control"
                             onkeypress="Ocultar_validation_msg('ced_rif_validation_msg')" required id="id_ced_rif"><span
                             id="ced_rif_validation_msg" class="validation-msg" hidden>Esta Cédula/Rif ya esta rigistrada</span>
                     </div>
                 </div>
             </div>
             <!-- 2da fila -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.nombre.label}}</span>
                     {{form.nombre}}
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">Télefono</span><br>
                     <div class="col-md-3 float-start">
                         <select name="prefijo" id="prefijo" class="form-control float-start" style="border-right: 0px" required>
                             <option id="-1" value="">Seleccione</option>
                             {% for xPre_telefono in xPrefijos %}
                             <option id={{xPre_telefono}} value="{{xPre_telefono}}" {% if xPre_telefono.prefijo_t == rPre_t %} selected {% endif %}>
                                  {{xPre_telefono}}
                             </option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="col-md-9 float-start">
                         <input type="text" name="telefono" value="{{rTelefono}}" minlength="7" maxlength="7" class="form-control"
                             onkeypress="return soloNumeros(event)" required id="id_telefono">
                     </div>
                 </div>
             </div>
             <!-- 3ra fila -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6">
                     <span class="titulos">
                         {{form.contacto.label}}</span>
                     {{form.contacto}}
                 </div>
                 <div class="col-md-6">
                     <span class="titulos">Télefono contacto</span><br>
                     <div class="col-md-3 float-start">
                         <select name="prefijo_c" id="prefijo_c" class="form-control float-start"
                             style="border-right: 0px" required>
                             <option id="-1" value="">Seleccione</option>
                             {% for xPre_telefono_c in xPrefijos %}
                             <option id={{xPre_telefono_c}} value="{{xPre_telefono_c}}" {% if xPre_telefono_c.prefijo_t == rPre_c %} selected {% endif %}>
                                  {{xPre_telefono_c}}
                             </option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="col-md-9 float-start">
                         <input type="text" name="telefono_c" value="{{rTelefono_c}}" minlength="7" maxlength="7" class="form-control"
                             onkeypress="return soloNumeros(event)" required id="id_telefono_c">
                     </div>
                 </div>
             </div>
             <!-- 4ta fila  -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6 mt-3 mt-md-0">
                     <span class="titulos">
                         {{form.direccion.label}}</span>
                     {{form.direccion}}
                 </div>
              
                 <div class="col-md-6 mt-3 mt-md-0">
                     <span class="titulos">Ciudad</span>
                     <select name="ciudad" id="ciudad" class="form-control" required>
                         <option id="-1" value="">Seleccione un elemento</option>
                         {% for xCiudad in xCiudades %}
                         <option id={{xCiudad.id}} value="{{xCiudad.id}}" {% if xCiudad.id == rCiudadId %} selected {% endif %}>
                             {{xCiudad}}
                         </option>
                         {% endfor %}
                     </select>
                 </div>
             </div>
             <!-- 5ta fila  -->
             <div class="row" style="margin-bottom: 10px">
                 <div class="col-md-6 mt-3 mt-md-0">
                     <span class="titulos">Rama</span>
                     <select name="rama" id="rama" class="form-control" required>
                         <option id="-1" value="">Seleccione un elemento</option>
                         {% for xRama in xRamas %}
                         
                         <option id={{xRama.id}} value="{{xRama.id}}" {% if xRama.id == rRamaId %} selected {% endif %}>
                             {{xRama}}
                         </option>
                         
                         {% endfor %}
                     </select>
                 </div>
             </div>
             {% endif %}
             <!-- Botones -->
             <div style="padding:20px 0px" class="text-end">
                 <button class="btn btn-dark rounded-pill" type="button" style="margin-right: 15px;" onclick="javascript:history.back()">Descartar</button>
                 {% if xOpcion == 'Eliminando' %}
                 <button type="button">
                     Eliminar</button>
                 {% else %}
                 <button type="submit" class="btn btn-dark rounded-pill" id="guardar" onclick="validar(event)">
                     Guardar</button>
                 {% endif %}
             </div>
           </form>


        </div>
    </div>

</main>
{% endblock content %}
<!-- Java Script -->
{% block Scripts_Adicionales %}
<script>
    // Funcion para validar formulario


    // Eliminar         
    function eliminar(e) {
        e.preventDefault();
        Swal.fire({
            title: '¿ Esta seguro de eliminar ?',
            //text: ': ',
            icon: 'question',
            showCancelButton: true,
            cancelButtonText: 'Descartar' + '&nbsp;&nbsp;' + 'X',
            confirmButtonText: 'Confirmar' + '&nbsp;&nbsp;' + '√',
            position: 'bottom',
            allowOutsideClick: false,
            allowEnterKey: false,
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('proveedor_crud').submit();
            }
        })
    };
</Script>
{% endblock Scripts_Adicionales %}